{% extends 'users/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% for post in object_list %}
        <a href="{% url 'detail_post' post.id %}"><img src="{{ post.picture.url }}" alt="" class="img-thumbnail" style="width:200px; height: 200px;"></a>
        <h4>{{ post.description_hashtags|safe }}</h4>
        <small><a href="{% url 'profile_detail' post.author.pk %}">{{ post.author }}</a> Likes: <span class="counter" id="{{ post.id }}">{{ post.likes_counter }}</small></span>
        <form action="{% url 'like_post' post.id %}" method="get" class="likeForm">
            {% csrf_token %}
            <button type="button" data-url="{% url 'like_post' post.id %}" class="likeBtn btn" id="{{ post.id }}">
                {% if post in request.user.profile.likes_given.all %}
                    <i class="fas fa-heart" style="color: red;"></i>
                {% else %}
                    <i class="far fa-heart" style="color: red;"></i>
                {% endif %} 
            </button>
            <button type="button" class="showComments" id="{{ post.pk }}">Show comments</button>
            <div class="comments" id="{{ post.pk }}" style="display: none">
                {% include 'posts/comments.html' %}
            </div>
        </form>
        <p></p>
    {% endfor %}
{% endblock %}